.App {
  text-align: center;
}

.button__load {
  background-color: blue;
  cursor: pointer;
  transition: all 5s;
  border: 1px solid black;
  height: 50px;
}
.button__loading {
  transition: all 5s;
  transform: rotate(360deg);
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(5,250px);;
  justify-content: center;
  justify-items: center;
  grid-gap: 10px;
}

.todo-item {
  margin-bottom: 30px;
  width: 250px;
  height: 300px;
  border: 1px solid #1767d7;
}

.completed {
  background-color: greenyellow;
}
.not-completed {
  background-color: red;
}

.button_sort {
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: wheat;
  border: 1px solid;
  transition: all 0.5s;
  &:focus{
    transform: scale(1.2);
    background-color: aqua;
  }
  &:hover{
    color: red;
  }
}
